<!DOCTYPE html>
<html>

    <head>
        <title>Jure Filipič</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="container">
        <h1>
            FAKEBOOK
        </h1>
        Iskalnik:
        <input type="text" placeholder="vnesi iskalni niz">

        <br>

        <h2>Jure Filipič</h2>
        <img src="https://kreativc.si/mJIPxN2A.png" width="200px">
        <br>
        <br>

        <button>Dodaj za prijatelja</button>
        <br>

        <p>
            <strong>Kraj:</strong> Škofljica
        </p>
        <p>
            <strong>Starost:</strong> 40
        </p>
        <p>
            <strong>Izobrazba:</strong> diplomirani grafični tehnik
        </p>
        <p>
            <strong>Hobi:</strong> Športno plezanje
        </p>
        <p>
            <strong>Prosti čas:</strong> Družina in fotografiranje
        </p>
    </div>
    </body>

</html>
